name: Main

on:
  push:
    branches:
      - 'main'

permissions:
  contents: write
  packages: write
  attestations: write
  id-token: write

jobs:
  tag:
    runs-on: ubuntu-latest
    steps:
      - name: Bump version and push tag
        id: tag_version
        uses: mathieudutour/github-tag-action@v6.2
        with:
          release_branches: main
          default_bump: minor
          tag_prefix: 'v'
          create_annotated_tag: true
          github_token: ${{ secrets.GITHUB_TOKEN }}

      - name: Create a GitHub release
        uses: ncipollo/release-action@v1
        with:
          tag: ${{ steps.tag_version.outputs.new_tag }}
          name: Release ${{ steps.tag_version.outputs.new_tag }}
          body: ${{ steps.tag_version.outputs.changelog }}

  release:
    uses: './.github/workflows/_docker_build.yaml'
    needs:
      - tag
    with:
      version: ${{ github.ref_name }}
